<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Hotel App Application Test Automation Test Suite">

	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name="HotelApp Test Cases">
		<classes>
			<class name="com.hotelapp.qa.testcases.LoginPageTest"></class>
			<class name="com.hotelapp.qa.testcases.HomePageTest"></class>
			<class
				name="com.hotelapp.qa.testcases.searchBookConfirmHotelPageTest"></class>

		</classes>
	</test>
</suite>